:root {
    --background-blue: #4268BD;
}

* {
    font-family: 'Mukta', sans-serif;
}

nav {
    background-color: var(--background-blue);
    color: #ffff;
    text-align: center;
    height: 20%;
}

#currentWeatherBox {
    border-style: solid;
    border-width: 1px;
    float: right;
    margin-bottom: 32px;
    width: 65%;
}
.rightColumn {
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
}

.weathercard {
    border-style: solid;
    border-width: 1px;
    display: inline;
    width: 12.88%;
}
button {
    /* border-style: solid, 1px; */
    background-color: lightcyan;
    /* border-radius: 25%; */
}

#headerTextDiv {
    float: right;
}
.inputParam {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

#forecastbox {
    display: flex;
    flex-direction: row;
     width: 100%;
    justify-content: flex-end;
    overflow: hidden;
    white-space: nowrap;
}

#bDiv {
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 3px;
}

.citybuttons::first-letter {
    text-transform: capitalize;
}

#leftcolumn {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    flex-direction: column;
}
#containerL {
    display: inline-flex;
    flex-direction: column;
}

#searchbutton {
    margin-top: 3px;
}

h4 {
    font-size: 2.5vh;
}

h2 {
    font-size: 40px;
    align-self: center;
}
button:hover {
    cursor: pointer;
}
h2:first-letter {
    text-transform:capitalize;
}

p {
    font-size: 26px;
}

h3 {
    font-size: 1.75vh;
}
.citybuttons {
    font-size: 2.5vh;
    margin: 2px;
}

.uvbox {
    background-color: greenyellow;
}

@media all and (max-width: 765) {
    #leftcolumn {
        display: flex;
    };
};