:root {
    --background-blue: #4268BD;
}

* {
    font-family: 'Mukta', sans-serif;
}

nav {
    background-color: var(--background-blue);
    color: #ffff;
    text-align: center;
    height: 20%;
}

#currentWeatherBox {
    border-style: solid;
    border-width: 1px;
    float: right;
    margin-bottom: 32px;
    width: 65%;
}
.rightColumn {
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
}

.weathercard {
    border-style: solid;
    border-width: 1px;
    display: inline;
    width: 12.88%;
}
button {
    border-style: hidden;
    background-color: lightcyan;
    border-radius: 25px;
}

#headerTextDiv {
    position: absolute;
    top: 367px;
    left: 491px;
}
.inputParam {
    display: inline-block;
}

#forecastbox {
    display: flex;
    flex-direction: row;
     width: 100%;
    justify-content: flex-end;
    overflow: hidden;
    white-space: nowrap;
}

#citybuttons {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    
    width: 65%;
    height: 65%;
}

.citybuttons::first-letter {
    text-transform: capitalize;
}

#leftcolumn {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    width: 25%;
    padding-bottom: 1vh;
}
h4 {
    font-size: 2.5vh;
}

h2 {
    font-size: 40px;
    align-self: center;
}

h2:first-letter {
    text-transform:capitalize;
}

p {
    font-size: 26px;
}

h3 {
    font-size: 1.75vh;
}
.citybuttons {
    display: block;
    margin-left: 32%;
    margin-top: 2%;
    font-size: 2.5vh;
}

.uvbox {
    background-color: greenyellow;
}